<!DOCTYPE html>

<html>
<head lang="en">

    <meta charset="UTF-8">
    <title></title>
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

</head>
<body>
<h1> Hello, World!</h1>
<form action="/url/to/submit/" method="post" class="form">
    {% csrf_token %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>
</body>
</html>