{% extends 'base.html' %}
{% load bootstrap3 %}
{% load engvtweb_tags %}

{% block head %}
<script type="text/javascript">
$(function(){
    activate_link('My Cart ')
});
</script>
{% endblock %}

{% block contentmain %}

<h2> My Cart </h2>

<form method="post" action=".">
{% csrf_token %}
{{ formset.management_form }}

    <div class="panel panel-default">
        <table class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                <tr>
                    <td>
                        {% if item.product.description %}
                            {{ item.product.description }}
                        {% else %}
                            {{ item.product.name }}
                        {% endif %}
                    </td>
                    {% get_item formset forloop.counter0 as form %}
                    <td>
                        {% if item.variant %}{{ item.variant }}{% endif %}
                    </td>
                    <td>
                        <div style="max-width: 80px">
                        {% bootstrap_form form %}
                        </div>
                    </td>
                    <td>{{ item.total_price|currency }}</td>
                    <td>
                        <a class="btn btn-danger btn-xs" href="{% url "cart:remove-item" item_id=item.id %}">{% bootstrap_icon "remove" %}</a>
                    </td>
                </tr>
            {% empty %}
                    <tr>
                        <td>
                            <h4>No fucking items in your fucking cart.</h4>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><b>Total</b></td>
                    <td></td>
                    <td><b>{{ cart.cart.total_quantity|to_int }}</b></td>
                    <td><b>{{ cart.cart.total_price|currency }}</b></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    {% if not cart.is_empty %}
    <div style="text-align: right">
        <button class="btn btn-primary" type="submit">Update Totals {% bootstrap_icon "refresh" %}</button>
        <a class="btn btn-success" role="button" href="{% url 'cart:checkout' %}">Checkout {% bootstrap_icon "forward" %}</a>
    </div>
    {% endif %}
</form>


{% endblock %}