{% extends 'base.html' %}
{% load bootstrap3 %}
{% load engvtweb_tags %}

{% block head %}
<script type="text/javascript">
$(function(){
    activate_link('My Cart')
});
</script>
{% endblock %}

{% block contentmain %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        <tr>
            <td>{{ item.product.product_description }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price|currency }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td><b>Total</b></td>
            <td><b>{{ total|currency }}</b></td>
        </tr>
    </tfoot>
</table>

{% endblock %}