Django==1.7
dj-database-url==0.3.0
dj-static==0.0.6
django-bootstrap3==4.11.0
./engvtweb_third/django-changuito-0.7.ben.01.tar.gz
django-classy-tags==0.5.1
django-grappelli==2.6.2
django-haystack==2.3.1
django-polymorphic==0.6
django-registration==1.0
django-toolbelt==0.0.1
elasticsearch==1.2.0
gnureadline==6.3.3
gunicorn==19.0.0
ipython==2.3.0
jsonfield==1.0.0
numpy==1.9.0
pandas==0.15.0
psycopg2==2.5.3
python-dateutil==2.2
pytz==2014.7
requests==2.3.0
six==1.8.0
static3==0.5.1
urllib3==1.9.1
wsgiref==0.1.2
