{% extends "base.html" %}
{#{% load i18n %}#}
{% load bootstrap3 %}
{% load i18n grp_tags %} {# grp_csrf #}

{#{% block title %}{% trans 'Password change' %}{% endblock %}#}
{#{% block content-class %}{% endblock %}#}

{% block contentmain %}
    <div style="width: 500px" class="center-block">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Change Your Password</h4></div>
            <div class="panel-body">
                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
                {% bootstrap_form form %}
                <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary" />
            </div>
        </div>
    </div>
{% endblock %}
