{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n grp_tags %}

{#{% block bodyclass %}grp-login{% endblock %}#}
{#{% block title %}{% trans 'Password reset complete' %}{% endblock %}#}
{% block contentmain %}
	<div style="width: 500px" class="center-block">
        <div class="alert alert-success" role="alert">
            <h4>Password Reset Complete</h4>
                <p>
                    {% trans "Your password has been set.  You may go ahead and log in now." %}
                </p>
                <p><a href="{% url 'django.contrib.auth.views.login'  %}" class="btn btn-success"><strong>{% trans 'Log in' %}</strong></a></p>

        </div>
    </div>
{% endblock %}