{% extends "base.html" %}
{% load bootstrap3 %} {# grp_csrf #}

{% block contentmain %}
    <div style="width: 500px" class="center-block">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Reset Password</h4></div>
            <div class="panel-body">
                <form action="" method="post">{% csrf_token %}
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                {% bootstrap_form form %}
                <input type="submit" value="Reset my password" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}

