{% extends "base.html" %}
{% load i18n grp_tags %} {# grp_csrf #}
{% load bootstrap3 %}


{#{% block title %}{% if validlink %}{% trans 'Enter new password' %}{% else %}{% trans 'Password reset unsuccessful' %}{% endif %}{% endblock %}#}

{% block contentmain %}
    <div style="width: 300px" class="center-block">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Enter New Password</h4></div>
            <div class="panel-body">
            {% if validlink %}
                <form action="" method="post">{% csrf_token %}
                    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                    {% bootstrap_form form %}
                    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary" />
                </form>
            {% else %}
                <div class="alert alert-danger">
                    <p><b>Wut </b>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
