{% extends 'base.html' %}

{% block head %}
<script type="application/javascript">
$(function(){
    activate_link('Home');
})
</script>
{% endblock %}

{% block contentmain %}
<div class="jumbotron">
    <h1><a target="_blank" href="https://twitter.com/search?q=%23ihatepeterbell&src=typd">#ihatepeterbell</a></h1>
    <h3>Welcome to the future, motherfuckers.</h3>
    <p>Use this site to shop for QBP shit, Specialized bike shit, and other shit.  When you checkout, your order will be saved and sent to Team Management.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="{% url 'team_order:bike' %}" role="button">Start Fucking Shopping &raquo;</a>
    </p>
</div>
{% endblock %}