{% extends 'base.html' %}
{% load bootstrap3 %}
{% load engvtweb_tags %}

{% block head %}
<style>
#id_quantity {
    max-width: 100px;
}
</style>
<script type="application/javascript">

{# Hack to hide "search" label, no good way around this #}
function select_facet(field_name, id){
    var facet_value = $('#'+id).val().split(' (')[0];
    var encoded_val = encodeURIComponent(facet_value);
    var current_url = window.location.href;

    //have to have q value in URL otherwise empty searchqueryset will be rendered
    var q = getQSValue(current_url, 'q');
    if (q == null){
        current_url += '?q='
    }

    var new_url = '';
    if (facet_value.indexOf("--- All") > -1) {
        new_url = removeAllQueryStrings(current_url, 'selected_facets', field_name);
    } else {
        new_url = current_url + "&selected_facets=" + field_name + "_exact:" + encoded_val
    }
    window.location.href = new_url;
}

$(function(){
    $('.control-label').hide();
    $('#category-select').change(function(){
        select_facet('category','category-select');
    });
    $('#brand-select').change(function(){
        select_facet('brand','brand-select');
    });
    activate_link('Team Order')
});

{#<a href="{{ request.get_full_path }}&amp;selected_facets=category_exact:{{ category.0|urlencode }}">#}

</script>
{% endblock %}

{% block contentmain %}
    <h2>Search the QBP Catalog</h2>

    <form method="get" action="." class="form-inline">
        <form class="form-inline" role="form">
            {# Search form #}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">{% bootstrap_icon "search" %}</button>
            {% if query or page.object_list %}

                {# Begin faceting here #}
                <div class="form-group">
                    <label class="sr-only" for="brand-select">Brand</label>
                    <select id="brand-select" class="form-control" >

                    {% if facets.fields.brand|length == 1 %}
                    <option>--- All Brands ---</option>
                    {% else %}
                    <option selected="selected">{{ facets.fields.brand|length }} Brand(s)</option>
                    {% endif %}

                    {% if facets.fields.brand %}
                        {% for brand in facets.fields.brand %}
                            <option {% if facets.fields.brand|length == 1 %} selected="selected" {% endif %}>{{ brand.0 }} ({{ brand.1 }})</option>
                        {% endfor %}
                    {% endif %}
                    </select>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="category-select">Category</label>
                    <select id="category-select" class="form-control">
                        {% if facets.fields.category|length == 1 %}
                        <option>--- All Categories ---</option>
                        {% else %}
                        <option selected="selected">{{ facets.fields.category|length }} Category(s)</option>
                        {% endif %}
                        {% if facets.fields.category %}
                            {% for category in facets.fields.category %}
                                <option {% if facets.fields.category|length == 1 %} selected="selected" {% endif %}>{{ category.0 }} ({{ category.1 }})</option>
                            {% endfor %}
                            </select>
                        {% endif %}
                </div>
            </form>
                <br>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>ProdID</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Description</th>
                            <th>Unit Price</th>
                            <th>Add to Cart</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for result in page.object_list %}
                    <tr>
                        <td>{{ result.object.prodid }}</td>
                        <td>{{ result.object.category}}</td>
                        <td>{{ result.object.brand.name }}</td>
                        <td><a target="_blank" href="https://www.google.com/search?q={{ result.object.description | urlencode}}">{{ result.object.description }}</a></td>
                        <td>{{ result.object.unit_price|currency }}</td>
                        <td>
                            <form class="form-inline" role="form" method='post' action="{% url 'cart:cart-add' %}">
                                <div class="form-group">
                                    {% csrf_token %}
                                    {% bootstrap_form result.object.cart_form %}
                                    <button type="submit" class="btn btn-primary">{% bootstrap_icon "shopping-cart" %}</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% empty %}

                {% endfor %}
                </tbody>
            </table>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}"><button class="btn btn-primary">{% bootstrap_icon "chevron-left" %}Previous</button></a>
                    {% endif %}
                    <span class="current">
                        Page {{ page.number }} of {{ page.paginator.num_pages }}.
                    </span>
                    {% if page.has_next %}
                        <a href="?q={{ query }}&amp;page={{ page.next_page_number }}"><button class="btn btn-primary">Next{% bootstrap_icon "chevron-right" %}</button></a>
                    {% endif %}
                </div>
            {% endif %}

        {% else %}

            <div class="alert alert-danger alert-dismissable" role="alert">
                      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        No results found.
            </div>

        {% endif %}
    </form>
{% endblock %}