{% extends 'base.html' %}
{% load bootstrap3 %}
{% load engvtweb_tags %}

{% block contentmain %}
    <h2>Search the QBP Catalog</h2>

    <p> This is super-top secret #trusttree </p>
    <form method="get" action=".">

            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "search" %} Search
            </button>

        {% if query or page.object_list %}
{#            <h3>Results</h3>#}
                {# Begin faceting here #}
                <div>
                    <dl>
                        {% if facets.fields.brand %}
                            <dt>Brand</dt>
                            {# Provide only the top 5 authors #}
                            {% for brand in facets.fields.brand|slice:":5" %}
                                <dd><a href="{{ request.get_full_path }}&amp;selected_facets=brand_exact:{{ brand.0|urlencode }}">{{ brand.0 }}</a> ({{ brand.1 }})</dd>
                            {% endfor %}
                        {% else %}
                            <p></p>
                        {% endif %}
                    </dl>
                </div>
                <div>
                    <dl>
                        {% if facets.fields.category %}
                            <dt>Category</dt>
                            {# Provide only the top 5 categories #}
                            {% for category in facets.fields.category|slice:":5" %}
                                <dd><a href="{{ request.get_full_path }}&amp;selected_facets=category_exact:{{ category.0|urlencode }}">{{ category.0 }}</a> ({{ category.1 }})</dd>
                            {% endfor %}
                        {% else %}
                            <p></p>
                        {% endif %}
                    </dl>
                </div>

                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>ProdID</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Description</th>
                            <th>Cost</th>
                            <th>Quantity</th>
                            <th>Add to Cart</th>
                        </tr>
                    </thead>
                <tbody>
                {% for result in page.object_list %}
                <tr>
                    <td>{{ result.object.prodid }}</td>
                    <td>{{ result.object.category}}</td>
                    <td>{{ result.object.brand }}</td>
                    <td>{{ result.object.product_description }}</td>
                    <td>{{ result.object.each_cost | currency }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% empty %}
                 <div class="alert alert-danger alert-dismissable" role="alert">
                      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        No results found.
                    </div>
                {% endfor %}
                </tbody>
            </table>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}