{% extends 'base.html' %}
{% load bootstrap3 %}
{% load engvtweb_tags %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.widgets.min.js' %}"></script>
<script type="text/javascript">
$(function(){
    activate_link('All Order Details');

    {# Submit form when select is changed #}
    $('#id_team_order').change(function(){
       $(this).closest('form').trigger('submit');
    });
    $('.table').tablesorter({
        widgets: ['columns']
    });

})
</script>
{% include 'team_order/include/hide-field-labels.html' %}
{% endblock %}

{% block contentmain %}

<div style="max-width: 1000px" class="center-block tab-content">
    <div style="max-width: 300px" class="well">
        <h4>Please choose an order</h4>
        <form method="post" action=".">
        {% csrf_token %}
        {% bootstrap_form form %}
        </form>
    </div>


    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#all-items" role="tab" data-toggle="tab">All Items</a></li>
      <li role="presentation"><a href="#by-user" role="tab" data-toggle="tab">By User</a></li>
    </ul>

    <div role="tabpanel" class="tab-pane active" id="all-items">
        <br>
        {% for ctype, ctype_dict in order_items.items %}

            {% if ctype != 'qbppart' %}
            <div>
                {% for brand, itemlist in ctype_dict.items %}
                    <div class="panel panel-info">
                        <div class="panel-heading">{{ brand }}</div>
                        <div class="panel-body">
                            <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <td><b>Product ID</b></td>
                                <td><b>Description</b></td>
                                <td><b>Size/Variant</b></td>
                                <td><b>Total Quantity</b></td>
                            </thead>
                            <tbody>
                            {% for row in itemlist %}
                                <tr>
                                    <td>{{ row.prodid }}</td>
                                    <td>{{ row.description }}</td>
                                    <td>{{ row.variant }}</td>
                                    <td>{{ row.quantity | to_int }}</td>
                                </tr>
                            {% endfor  %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            {#    Special formatting for QBP, don't separate by brand   #}
            <div>
                <div class="panel panel-info">
                    <div class="panel-heading">QBP</div>
                    <div class="panel-body">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                            <td><b>Product ID</b></td>
                            <td><b>Brand</b></td>
                            <td><b>Description</b></td>
                            <td><b>Total Quantity</b></td>
                            </thead>
                            <tbody>
                        {% for brand, itemlist in ctype_dict.items %}
                            {% for row in itemlist %}
                                <tr>
                                    <td>{{ row.prodid }}</td>
                                    <td>{{ brand }}</td>
                                    <td>{{ row.description }}</td>
                                    <td>{{ row.quantity | to_int }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        {% empty %}
        {% endfor %}
    </div>

    <div role="tabpanel" class="tab-pane" id="by-user">
        <br>
        {% for user, user_dict in user_items.items %}
            {#    Special formatting for QBP, don't separate by brand   #}
            <div>
                <div class="panel panel-info">
                    <div class="panel-heading">{{ user }}</div>
                    <div class="panel-body">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <td><b>Product ID</b></td>
                                <td><b>Brand</b></td>
                                <td><b>Description</b></td>
                                <td><b>Size/Variant</b></td>
                                <td><b>Total Quantity</b></td>
                                <td><b>Unit Price</b></td>
                                <td><b>Total Price</b></td>
                            </thead>
                            <tbody>
                            {% for item in user_dict.all_items %}
                                <tr>
                                    <td>{{ item.prodid }}</td>
                                    <td>{{ item.brand }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ item.variant }}</td>
                                    <td>{{ item.quantity | to_int }}</td>
                                    <td>{{ item.unit_price | currency }}</td>
                                    <td>{{ item.total_price | currency }}</td>
                                </tr>
                            {% endfor %}
                            <tfoot>
                                <td></td>
                                <td></td>
                                <td><b>Total</b></td>
                                <td></td>
                                <td><b>{{ user_dict.total_quantity | to_int }}</b></td>
                                <td></td>
                                <td><b>{{ user_dict.total_price | currency }}</b></td>
                            </tfoot>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% empty %}
        {% endfor %}
    </div>


</div>
{% endblock %}