<!DOCTYPE html>

<html>
{% load static %}
{% load engvtweb_tags %}
{# Load the tag library #}
{% load bootstrap3 %}

<head lang="en">

    <meta charset="UTF-8">
    <title>ENGVTWeb</title>

    <link rel="stylesheet" type="text/css" href={% static "css/styles.css" %} />
    <script type="text/javascript" src={% static 'js/core.js' %}></script>

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% include_jquery %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% block head %}{%  endblock %}
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    {% if user.is_authenticated %}
      <a class="navbar-brand" href="#"><img src="{% static "img/ENGVT_Logo_2D.png" %}"></a>
    {% endif %}
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li class="active"><a href="/">Home</a></li>
{#        <li><a href="#about">About</a></li>#}
{#        <li><a href="#contact">Contact</a></li>#}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Team Order<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
{#            <li><a href="#">Kit</a></li>#}
            <li><a href="{% url 'team_order:bike' %}">Bike</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Parts</li>
            <li><a href="{% url 'team_order:qbp' %}">QBP</a></li>
            <li><a href="{% url 'team_order:stages' %}">Stages</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'cart:cart' %}">My Cart {% bootstrap_icon "shopping-cart" %}<span class="badge">{{ shopping_cart.total_quantity|to_int}}</span></a></li>
        <li><a href="{% url 'my-account' %}">My Account {% bootstrap_icon "user" %}</a></li>
        {% if user.is_staff %}<li><a href="/admin">Admin</a></li>{% endif %}
        <li><a href="{% url 'django.contrib.auth.views.logout' %}">Log Out</a></li>
      </ul>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">


    {% block contentmain %}{% endblock %}

</div>

</body>

</html>